{% if view == "header" %}
	<header class="{{content_prefix}}content  {{content_mod}}  section  {{content_group}}" {% if content_bg %}style="background-image: url({{content_bg}})"{% endif %}>
		<div class="{{content_prefix}}container container  {{content_mod}}">
			<picture class="{{content_prefix}}img  {{content_mod}}-logotip">
				<img src="{{logotip}}" class="img-responsive" alt="">
			</picture>
			<picture class="{{content_prefix}}img  {{content_mod}}-img">
				<img src="{{content_bg}}" class="img-responsive" alt="">
			</picture>
			<div class="{{content_prefix}}slogan  {{content_mod}}">{{slogan}}</div>
		</div>
	</header>
{% endif %}
{% if view == "slide" %}
	<section class="{{content_prefix}}content  {{content_mod}}  section  {{content_group}}" {% if content_bg %}style="background-image: url({{content_bg}})"{% endif %}>
		<div class="{{content_prefix}}container container  {{content_mod}}">
			{% if slogan %}
			<div class="{{content_prefix}}slogan  {{content_mod}}  is--right">{{slogan}}</div>
			<div class="{{content_prefix}}slogan  {{content_mod}}  is--left">{{slogan}}</div>			
			{% endif %}
			{% if product1 %}
			<div class="{{content_prefix}}img  {{content_mod}}" id="img">
				<div class="{{content_prefix}}img  {{content_mod}}-inner">
					<picture class="{{content_prefix}}img  {{content_mod}}-product1">
						<img src="{{product1}}" class="img-responsive" alt="">
					</picture>
					<picture class="{{content_prefix}}img  {{content_mod}}-product2">
						<img src="{{product2}}" class="img-responsive" alt="">
					</picture>
					<picture class="{{content_prefix}}img  {{content_mod}}-product-bg">
						<img src="{{product_bg}}" class="img-responsive" alt="">
					</picture>
				</div>
			</div>
			{% endif %}
			{% if text_left %}				
			<div class="{{content_prefix}}text  {{content_mod}}  is--left">
				{{text_left}}
			</div>
			{% endif %}
			{% if text_right %}				
			<div class="{{content_prefix}}text  {{content_mod}}  is--right">
				{{text_right}}
			</div>
			{% endif %}
		</div>
	</section>
{% endif %}
{% if view == "footer" %}
	<footer class="{{content_prefix}}content  {{content_mod}}  section  {{content_group}}" {% if content_bg %}style="background-image: url({{content_bg}})"{% endif %}>
		<div class="{{content_prefix}}container container  {{content_mod}}">
			<div class="{{content_prefix}}card  {{content_mod}}">

				<picture class="{{content_prefix}}img  {{content_mod}}-logotip">
					<img src="{{logotip}}" class="img-responsive" alt="">
				</picture>
				<div class="{{content_prefix}}slogan  {{content_mod}}">{{slogan}}</div>
			</div>
			<div class="{{content_prefix}}grid  grid__row  {{content_mod}}" style="background-image: url({{bg_line}})">
				<div>
					<p>Заказать он-лайн Хамовники&nbsp;безалкогольное</p>
					<a href="https://getdrinks.ru/" target="_blank" rel="nofollow">
						<picture>
							<img src="{{img1}}" class="img-responsive" alt="">
						</picture>
					</a>
				</div>
				<div>
					<p>получить возможность выиграть Хамовники безалкогольное</p>
					<div class="{{content_prefix}}row  {{content_mod}}">
						<a href="https://mosbrew.ru/" target="_blank">
							<picture>
								<img src="{{img2}}" class="img-responsive" alt="">
							</picture>
						</a>
						<a href="https://www.instagram.com/mosbrew/" target="_blank" class="{{content_prefix}}btn  {{content_mod}}">
							Подписаться
							<img src="{{inst}}" class="img-responsive" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
{% endif %}



{% if view == "section" %}
	<section class="{{content_prefix}}content  {{content_mod}}" id="trigger1">
		<div class="{{content_prefix}}container container  {{content_mod}}">
			<div class="{{content_prefix}}slogan  {{content_mod}}  is--right">{{slogan}}</div>
			<div class="{{content_prefix}}slogan  {{content_mod}}  is--left">{{slogan}}</div>
			<div id="pin1">
				<div class="{{content_prefix}}img  {{content_mod}}" >
					<picture class="{{content_prefix}}img  {{content_mod}}-product1  wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.8s" id="img1">
						<img src="{{product1}}" class="img-responsive" alt="">
					</picture>
					<picture class="{{content_prefix}}img  {{content_mod}}-product2  wow fadeIn" data-wow-duration="1.5s" data-wow-delay="1s" id="img2">
						<img src="{{product2}}" class="img-responsive" alt="">
					</picture>
					<picture class="{{content_prefix}}img  {{content_mod}}-product-bg  wow fadeIn" data-wow-duration="1.5s" data-wow-delay="1.2s" id="img2">
						<img src="{{product_bg}}" class="img-responsive" alt="">
					</picture>
				</div>
			</div>
			<div id="pin2">
				<div class="{{content_prefix}}text  {{content_mod}} is--left  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.8s">
					{{text_left}}
				</div>
			</div>
			<div id="pin3">
				<div class="{{content_prefix}}text  {{content_mod}} is--right  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.8s">
					{{text_right}}
				</div>
			</div>
		</div>
	</section>
{% endif %}