{% if view == "header" %}
	<header class="{{content_prefix}}content  {{content_mod}}" >
		<div class="{{content_prefix}}container container  {{content_mod}}">
			<picture class="{{content_prefix}}img  {{content_mod}}-logotip">
				<img src="{{logotip}}" class="img-responsive" alt="">
			</picture>
			<picture class="{{content_prefix}}img  {{content_mod}}-img">
				<img src="{{img}}" class="img-responsive" alt="">
			</picture>
			<div class="{{content_prefix}}slogan  {{content_mod}}">{{slogan}}</div>
		</div>
	</header>
{% endif %}
{% if view == "section" %}
	<section class="{{content_prefix}}content  {{content_mod}}" >
		<div class="{{content_prefix}}container container  {{content_mod}}">
			<div class="{{content_prefix}}slogan  {{content_mod}}  is--right">{{slogan}}</div>
			<div class="{{content_prefix}}slogan  {{content_mod}}  is--left">{{slogan}}</div>
			<div class="{{content_prefix}}img  {{content_mod}}">
				<picture class="{{content_prefix}}img  {{content_mod}}-product1  wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.8s">
					<img src="{{product1}}" class="img-responsive" alt="">
				</picture>
				<picture class="{{content_prefix}}img  {{content_mod}}-product2  wow fadeIn" data-wow-duration="1.5s" data-wow-delay="1s">
					<img src="{{product2}}" class="img-responsive" alt="">
				</picture>
				<picture class="{{content_prefix}}img  {{content_mod}}-product-bg  wow fadeIn" data-wow-duration="1.5s" data-wow-delay="1.2s">
					<img src="{{product_bg}}" class="img-responsive" alt="">
				</picture>
			</div>
			<div class="{{content_prefix}}text  {{content_mod}} is--left  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.8s">
				{{text_left}}
			</div>
			<div class="{{content_prefix}}text  {{content_mod}} is--right  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.8s">
				{{text_right}}
			</div>
		</div>
	</section>
{% endif %}
{% if view == "footer" %}
	<footer class="{{content_prefix}}content  {{content_mod}}" >
		<div class="{{content_prefix}}container container  {{content_mod}}">
			<div class="{{content_prefix}}card  {{content_mod}}">

				<picture class="{{content_prefix}}img  {{content_mod}}-logotip">
					<img src="{{logotip}}" class="img-responsive" alt="">
				</picture>
				<div class="{{content_prefix}}slogan  {{content_mod}}">{{slogan}}</div>
			</div>
			<div class="{{content_prefix}}grid  grid__row  {{content_mod}}" style="background-image: url({{bg_line}})">
				<div>
					<p>Заказать он-лайн Хамовники безалкогольное</p>
					<a href="https://getdrinks.ru/" target="_blank" rel="nofollow">
						<picture>
							<img src="{{img1}}" class="img-responsive" alt="">
						</picture>
					</a>
				</div>
				<div>
					<p>получить возможность выиграть Хамовники безалкогольное</p>
					<div class="{{content_prefix}}row  {{content_mod}}">
						<a href="https://mosbrew.ru/" target="_blank">
							<picture>
								<img src="{{img2}}" class="img-responsive" alt="">
							</picture>
						</a>
						<a href="https://www.instagram.com/mosbrew/" target="_blank" class="{{content_prefix}}btn  {{content_mod}}">
							Подписаться
							<img src="{{inst}}" class="img-responsive" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
{% endif %}